<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= singleBlog.title %></title>
        <%- include("./head"); %>
        <link href="../styles/blog1-stylesheet.css" rel="stylesheet">
    </head>

    <body>
        <div id="blog-post">
            <%- include("./header"); %>
            <article>
                <div class="main-blog">
                    <div class="blog-title">
                        <h1><%= singleBlog.title %></h1><br>
                    </div>
                    <div class="blog-date">
                        <!-- Need to fix this later -->
                        <i><%= singleBlog.date %> by <a href="author">Kohki</a></i>
                    </div><br>
                    <figure>
                        <img class="blog1-image" src="../images<%= singleBlog.image %>" alt="blog-image">
                    </figure>
                        <p><%= singleBlog.textBody %></p>
                </div>
                <div class="button">
                    <% if(session !== undefined){%>
                    <a href="/blog/update/<%= singleBlog._id %>" class="update-button">Update Blog</a>
                    <a href="/blog/delete/<%= singleBlog._id %>" class="delete-button">Delete Blog</a>
                    <%}%>
                </div>
            </article>
            <aside>
                <div class="introduction">
                    <h3>About Author</h3>
                    <div class="profile">
                        <img src="../images/profile-pic.jpg" alt="profile-pic">
                        <div>
                            <P>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                In aliquam sem fringilla ut morbi tincidunt augue interdum.
                            </P>
                        </div>
                    </div>
                    <div class="sns-logo">
                        <div>
                            <a href="https://www.facebook.com/">
                                <img src="../images/facebook.png" alt="facebook-logo">
                            </a>
                        </div>
                        <div>
                            <a href="https://twitter.com/?lang=eg">
                                <img src="../images/twitter.png" alt="twitter-logo">
                            </a>
                        </div>
                        <div>
                            <a href="https://github.com/">
                                <img src="../images/github.png" alt="github-logo">
                            </a>
                        </div>
                    </div>
                </div>
                <h3 class="sub-title">Category</h3>
                <ul class="sub-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="">Archive</a></li>
                    <li><a href="">Event</a></li>
                    <li><a href="">Q&A</a></li>
                    <li><a href="">Design System</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </aside>
            <%- include("./footer"); %>
        </div>

    </body>
</html>
